.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile__error {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px auto;
}

.profile__loading {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px auto;
}

.profile__empty {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px auto;
}
