.footer {
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.5;
  font-family: "Cabinet-Medium", "Arial", sans-serif;
}

.footer__developer {
  text-align: left;
}

.footer__disclaimer {
  text-align: right;
}
