.modal__avatar-section {
  margin-top: 0px;
}

.modal__avatar-options {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.modal__avatar-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 20px;
}

.modal__avatar-option:hover {
  border-color: #ddd;
}

.modal__avatar-option-selected {
  border: 8px solid #f93185;
}
